.inventory-div-1{
    background-color: white;
    display: grid;
    grid-template-columns: 5% 35% 10% 10% 20% 10% 10%;
    column-gap: 0.1rem;
    row-gap: 0.4rem;
}

.inventory-div-2{
    background-color: white;
    display: grid;
    grid-template-columns: 15% 35% 25% 15%;
    column-gap: 1rem;
    row-gap: 0.4rem;
}

.inventory-div:hover{
    cursor: pointer;
}