.dialog-box{
    display: grid;
    grid-template-columns: 38% 62%;
}

.dialog-box-left{
    background-color: #2874f0;
    color: white;
}

.dialog-box-right form{
    display:flex;
    flex-direction:column;
}

.user-input-wrp {
	position: relative;
	width: 100%;
}
.user-input-wrp .inputText{
	width: 100%;
	outline: none;
	border:none;
	border-bottom: 1px solid #777;
 	box-shadow: none !important;
    font-size: 13px;
    font-family:Arial, Helvetica, sans-serif;
}
.user-input-wrp .inputText:focus{
	border-color: blue;
	border-width: medium medium 2px;
}
.user-input-wrp .floating-label {
	position: absolute;
    font-size: 13px;
	pointer-events: none;
	top: 18px;
	left: 7px;
	transition: 0.2s ease all;
}
.user-input-wrp input:focus ~ .floating-label,
.user-input-wrp input:not(:focus):valid ~ .floating-label{
	top: 0px;
	left: 7px;
	font-size: 12px;
	opacity: 1;
}

.forgot-btn, .change-email{
    font-size: 14px;
    position: absolute;
    right: 0;
    bottom: 0.1px;
    color: #fb641b;
}

.forgot-btn:hover, .change-email:hover{
    cursor: pointer;
    border-bottom: 1px solid #fb641b;
}

.register-to-btn{
    position: absolute;
    bottom: 30px;
    color: #fb641b;
}

.register-to-btn:hover{
    cursor: pointer;
}

.otp-text-display{
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}

.otp-email-send{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.otp-resend{
    color: #fb641b;
}

.otp-resend:hover{
    cursor: pointer;
    border-bottom: 1px solid #fb641b;
}